#root {
  min-width: 100%;
  max-height:100%;
}

#root1{
  width: 100%;
  height: 100%
}

#header{
  width: 100%;
  height: 3.5em;
  background-color: antiquewhite;
}

#homepage{
  display: flex;
}

#info{
  text-align: center;
  width: 50%;
  padding: 7% 10%;
}

#box{
  width: 80%;
  padding: 7%;
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-group {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

label, input, button, #toggle{
  width: 10em;
}

#toggle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group{
  display: flex;
}









